* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --white: #ffffff;
  --grey-900: #48556a;
  --grey-500: #6e8098;
  --grey-400: #9daec2;
  --grey-200: #ecf2f8;

  /* Spacing */
  --scp-0-0px: 0px;
  --scp-200-16px: 1rem;
  --scp-300-24px: 1.5rem;
  --scp-400-32px: 2rem;
  --scp-500-40px: 2.5rem;
  --scp-600-48px: 3rem;
  --scp-700-48px: 3.5rem;
  --scp-800-64px: 4rem;
  --scp-1300-64px: 6.5rem;
  --scp-2000-160px: 10rem;
}

/* Typography */

.text-preset-1-bold {
  font-family: "Manrope", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 130%;
  letter-spacing: 0.25%;
}

.text-preset-2-medium {
  font-family: "Manrope", sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.12%;
}

.text-preset-2-bold {
  font-family: "Manrope", sans-serif;
  font-size: 0.8125rem;
  font-weight: bold;
  line-height: 140%;
  letter-spacing: 0.12%;
}

.text-preset-3 {
  font-family: "Manrope", sans-serif;
  font-size: 0.8125rem;
  font-weight: normal;
  line-height: 140%;
  letter-spacing: 25%;
}

body {
  display: flex;
  height: 100vh;
  align-self: center;
  background: var(--grey-200);
}

.container {
  margin: var(--scp-300-24px);
  align-self: center;
  justify-self: center;
  max-width: 327px;
  min-height: 538px;
  background: var(--white);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.image-drawer {
  background-image: url(./images/drawers.jpg);
  width: 100%;
  height: 230px;
  background-size: cover;
  margin-bottom: var(--scp-400-32px);
}

.title {
  color: var(--grey-900);
  padding: 0 var(--scp-400-32px) var(--scp-300-24px);
}

.text {
  color: var(--grey-500);
  padding: 0 var(--scp-400-32px) var(--scp-500-40px);
}

.container-author {
  display: flex;
  align-items: center;
  padding: 0 var(--scp-400-32px) var(--scp-200-16px);
}

.image-author {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: var(--scp-200-16px);
}

.author {
  color: var(--grey-900);
  margin-right: var(--scp-700-48px);
}

.publish-date {
  color: var(--grey-400);
}

.share-button {
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--grey-200);
}

.share-button:hover {
  cursor: pointer;
}
