* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --white: #ffffff;
  --grey-900: #48556a;
  --grey-500: #6e8098;
  --grey-400: #9daec2;
  --grey-200: #ecf2f8;

  /* Spacing */
  --scp-0-0px: 0px;
  --scp-200-16px: 1rem;
  --scp-300-24px: 1.5rem;
  --scp-400-32px: 2rem;
  --scp-500-40px: 2.5rem;
  --scp-600-48px: 3rem;
  --scp-700-48px: 3.5rem;
  --scp-800-64px: 4rem;
  --scp-1300-64px: 6.5rem;
  --scp-2000-160px: 10rem;
}

/* Typography */

.text-preset-1-bold {
  font-family: "Manrope", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 130%;
  letter-spacing: 0.25%;
}

.text-preset-2-medium {
  font-family: "Manrope", sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.12%;
}

.text-preset-2-bold {
  font-family: "Manrope", sans-serif;
  font-size: 0.8125rem;
  font-weight: bold;
  line-height: 140%;
  letter-spacing: 0.12%;
}

.text-preset-3 {
  font-family: "Manrope", sans-serif;
  font-size: 0.8125rem;
  font-weight: normal;
  line-height: 140%;
  letter-spacing: 25%;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  background: var(--grey-200);
}

.container {
  margin: var(--scp-300-24px);
  align-self: center;
  justify-self: center;
  max-width: 327px;
  min-height: 538px;
  background: var(--white);
  border-radius: 10px;
  overflow:hidden;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  position: relative;
}

.image-drawer {
  background-image: url(./images/drawers.jpg);
  width: 100%;
  min-height: 230px;
  background-size: cover;
}

.title {
  color: var(--grey-900);
  margin-bottom: var(--scp-300-24px);
}

.text {
  color: var(--grey-500);
  margin-bottom: var(--scp-600-48px);
}

.container-card {
  padding: var(--scp-400-32px) var(--scp-400-32px) var(--scp-200-16px);
}

.container-author {
  display: none;
  align-items: center;
}

.container-medias {
  display: none;
  background: var(--grey-900);
  align-items: center;
  padding: var(--scp-300-24px) var(--scp-400-32px);
}

.container-medias-1 {
  display: flex;
  justify-content: space-between;
}

.container-medias-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-medias-2 img {
  margin-right: var(--scp-200-16px);
  width: 20px;
  height: 20px;
}

.container-medias span {
  color: var(--grey-200);
  margin-right: var(--scp-300-24px);
}

.image-author {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: var(--scp-200-16px);
}

.author {
  color: var(--grey-900);
  margin-right: var(--scp-700-48px);
}

.publish-date {
  color: var(--grey-400);
}

.share-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--grey-200);
}

.share-button:hover {
  cursor: pointer;
}

.share-button-alt {
  display: flex;
  margin-left: 52px;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--grey-500);
}

.share-button-alt:hover {
  cursor: pointer;
}

.active {
  display: flex;
}

.inactive {
  display: none;
}

.active-desktop {
  display:block;
  position: absolute;
  bottom: 120px;
  right: 10px;
  border-radius: 10px;
}

 .active-desktop::after {
  content: "";
  position: absolute;
  bottom: -30px;
  right: 57px;
  transform: translateX(-50%);
  border-width: 15px;
  border-style: solid;
  border-color: var(--grey-900) transparent transparent transparent;

}

@media (min-width: 768px) {
  body {
    background: var(--grey-200);
  }

  .image-drawer {
    min-width: 230px;
    height: 390px;
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat; 
  }

  .container {
    display: flex;
    min-width: 600px;
    min-height: 300px;
    margin: var(--scp-800-64px);
  }

  .container-card {
    padding: var(--scp-500-40px) var(--scp-400-32px);
  }


}
